<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="UTF-8">
			<title>Insert title here</title>
			<link rel="shortcut icon" type="image/x-icon" href="../static/images/pageicon.png" />
			<link href="../static/css/style.css" rel="stylesheet" type="text/css"  media="all" />
			<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css"  media="all" />
			<link href="../static/css/bootstrap-theme.css" rel="stylesheet" type="text/css"  media="all" />
			<meta name="keywords" content="Videostube iphone web template, Andriod web template, Smartphone web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
			<link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
	</head>
	<body>

<div class="container" ng-controller="changePasswordController">
<form name="changePwdForm">
	<div class="form-group">
		<label for="npwd">New password:</label> <input name="name"
			class="form-control" id="npwd" ng-model="newPassword" type="password" required/>
	</div>
	<div class="form-group">
		<label for="rpwd">Repeat password:</label> <input name="password"
			class="form-control" type="password" id="rpwd" ng-model="repeatPassword" required/>
	</div>
<button class="btn btn-primary" ng-click="changePwd()" ng-disabled="!changePwdForm.$valid">Change</button>
</form>
<a href="../index.html">To main page</a>
</div>

	<script type="text/javascript" src="../static/js/angular.js"></script>
	<script type="text/javascript" src="../static/js/angular-route.js"></script>
	<script type="text/javascript" src="../static/js/angular-resource.js"></script>
	<script type="text/javascript" src="../static/js/ng-file-upload-shim.js"></script>
	<script type="text/javascript" src="../static/js/ng-file-upload.js"></script>
	<script type="text/javascript" src="../static/angular/app-controllers.js"></script>
	<script type="text/javascript" src="../static/angular/app-admin-controllers.js"></script>
	<script type="text/javascript" src="../static/angular/app-user-controllers.js"></script>
	<script type="text/javascript" src="../static/angular/app-services.js"></script>
	<script type="text/javascript" src="../static/angular/app-admin-services.js"></script>
	<script type="text/javascript" src="../static/angular/app-user-services.js"></script>
	<script type="text/javascript" src="../static/angular/app-filters.js"></script>
	<script type="text/javascript" src="../static/angular/app-interceptors.js"></script>
	<script type="text/javascript" src="../static/angular/app-constants.js"></script>
	<script type="text/javascript" src="../static/angular/app.js"></script>
	</body>
</html>