<div class="container">
<form name="changePwdForm">
	<div class="form-group">
		<label for="npwd">New password:</label> <input name="name"
			class="form-control" id="npwd" ng-model="newPassword" type="password" required/>
	</div>
	<div class="form-group">
		<label for="rpwd">Repeat password:</label> <input name="password"
			class="form-control" type="password" id="rpwd" ng-model="repeatPassword" required/>
	</div>
<button class="btn btn-primary" ng-click="changePwd()" ng-disabled="!changePwdForm.$valid">Change</button>
</form>
</div>