<form name="uploadForm">
	<fieldset>
		<div class="container" >
				<div style="padding-top:1%;">
					<input type="text" name="title" ng-model="title" required class="form-control" placeholder="Title" >
					<span class="label label-warning" ng-show="uploadForm.title.$error.required">Required</span>
				</div>
				<div style="padding-top:2%;">
					<input type="text" name="description" ng-model="description" class="form-control" placeholder="Dscription">
				</div>
				<div style="padding-top:2%;">
					<input type="file" ngf-select ng-model="videoFile" name="file"
							accept="video/*" ngf-max-size="20MB" required
							ngf-model-invalid="errorFile">
					<span class="label label-warning" ng-show="uploadForm.file.$error.required">Required</span><br>
					<span class="label label-warning" ng-show="uploadForm.file.$error.maxSize">File too large 
						{{errorFile.size / 1000000|number:1}}MB: max 20M</span>
				</div>
				<div style="padding-top:2%;">
				<button class="btn btn-default navbar-btn" ng-disabled="!uploadForm.$valid" 
					ng-click="uploadVideo()">Upload</button>
				</div>
		</div>
	</fieldset>
</form>